
.gif{
    width: 100%;
    height: 100vh;
  }
  .seccions{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(255, 255, 255) !important;
    background-color: rgba(2, 2, 2, 0.144);
    font-weight: bold;
    z-index: 110;
    font-family: 'Cinzel', serif !important;
  
  }
  .dblock{
    width: 650px;
    height: 600px;
    object-fit: contain;
  }
  .seccions .parts{
    display: flex;
    align-items: center;
    width: 750px;
    justify-content: space-around;
    padding: 15px;
  }
  .seccions .logoText{
    text-shadow: 3px 3px 4px rgb(17, 17, 17);
    font-family: 'Edu NSW ACT Foundation', cursive;
    cursor: pointer;
    margin: 0;
    padding: 0;

  }
  .header{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .burger{
    display: none ;
    cursor: pointer;
    z-index: 105;
 }
  .pages{
    cursor: pointer;
    font-family: 'Cinzel', serif !important;
    text-decoration: none;
    color: rgb(228, 228, 228);
    text-shadow: 3px 3px 4px rgb(17, 17, 17);
    font-size: 22px;
    font-weight: bolder;

  }
  .list{
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: max-content;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 102;
    display: flex;
    animation-name:listing ;
    animation-duration: 1s;
    overflow: hidden;
    font-family: 'Cinzel', serif;

  }
  .list .pages{
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgb(41, 41, 41) !important;
    margin-top: 10px;
  }
  .listContainer{
    display: none ;
  }
  .intro{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
  }
  .introText{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-left: 15px;
    text-shadow: 5px 5px 2px rgb(24, 24, 24);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
  
  }

.about{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -25px;
  background-color:rgba(240, 248, 255, 0.849);


}
.aboutText{
  background-repeat: no-repeat;
  background-size: cover;
}
  .aboutText p{
    background-color:rgba(240, 248, 255, 0.849);
    box-shadow:0 8px 32px 0 rgba(54, 54, 54, 0.37);
    backdrop-filter:blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
  }

  .aboutText2 p{
    background-color:rgba(240, 248, 255, 0.849);
    box-shadow:0 8px 32px 0 rgba(54, 54, 54, 0.37);
    backdrop-filter:blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
  }


  .parallaxImage{
    position: relative;
    height: 120vh;
    }
  .parallaxText{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 120vh;
    width: 100%;
  }
  .teamContainer{
    background-color: rgba(240, 248, 255, 0.849);
  }
  .nftsContainer{
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: rgba(240, 248, 255, 0.849);
    padding-top: 10px;
    padding: 5px;
  }
  .gify{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 10px;
  }
  .gify img{
    height: 400px;
    width: 550px;
  }
  .gify2{
    display: flex;
    width: 90%;
    justify-content: center;
  }
  .gify2 img{
    height: 400px;
    width: 275px;
  }
  .bigSeccesion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }
  











































  .aboutContainer .title{
    text-decoration: underline;
    text-decoration-color:rgb(255, 238, 0);
  }
  .newH1{
    color: rgb(20, 20, 20);
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    background-color:rgba(240, 248, 255, 0.849);
    box-shadow:3px 8px 32px  rgba(54, 54, 54, 0.767);
    backdrop-filter:blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    width: max-content;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Cinzel', serif;
  }
  .newH3{
    color: rgb(20, 20, 20);
    font-family: sans-serif;
    font-size: 38px;
    font-weight: bolder;
    background-color:rgba(240, 248, 255, 0.849);
    box-shadow:3px 8px 32px  rgba(54, 54, 54, 0.767);
    backdrop-filter:blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    width: max-content;
    padding: 18px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -50px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Cinzel', serif;
    text-align: center;
  }
  .newH2{
    color: rgb(20, 20, 20);
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bolder;
    width: max-content;
    border-radius: 5px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    text-decoration: underline;
  }
  @media screen and (max-width:1232px){
    .bigSeccesion{
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width:550px) {
    .parallaxImage{
      position: relative;
      height: 50vh;
      }
    .parallaxText{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 50vh;
      width: 100%;
    }
    .gify{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 0px;
    }
    .gify2{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
    .gify2 img{
      height: 300px;
      width: 100%;
    }
    .gify img{
      height: 400px;
      width: 90%;
    }
  }
  @media screen and (max-width:463px) {
    .newH2{
      color: rgb(20, 20, 20);
      font-size: 24px;
      width: max-content;
      font-family: 'Edu NSW ACT Foundation', cursive;
      font-family: 'Cinzel', serif;
    }
    .gify{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 0px;
    }
    .gify2{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
    .gify2 img{
      height: 280px;
      width: 100%;
    }
    .gify img{
      height: 310px;
      width: 90%;
    }
    
  }
  .gifContainer{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  .gif1{
    border-radius: 3px ;
    margin-bottom: 10px ;
    border: 0.4px solid white ;
  }
  .profiles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .profiles .profile{
    text-align: center;
    margin-bottom: 10px;
  
  }
  .profiles .profile img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid rgb(180, 180, 180);
    margin-left: 5px;
    margin-right: 5px;
    
  }
  .profiles .profile .job{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgb(36, 36, 36);
    color: rgb(31, 31, 31);

  }
  .profiles .profile .name{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgb(49, 49, 49);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
  }
  .profiles .profile .media{
    display: flex;
    width: auto;
    justify-content: space-around;
    margin-top: 5px;
  }
  .profiles .profile .media img{
    width: 35px;
    height: 35px;
    background-color: aliceblue;
    border: 0px solid ;
    cursor: pointer;
  }
  .footer{
    text-align: center;
    font-family: 'Cinzel', serif !important;
    font-size: 20px;
    font-weight: bolder !important;
    margin-left: 5px;


  }
  .cover{
    background-color: rgb(241, 241, 241);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 105;
    justify-content: center;
    align-items: center;
  }
  .circle{
    background-color: rgb(100, 100, 100);
    width: 100px;
    height: 100px;
    animation-name: carre;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    box-shadow: 2px 3px 5px rgb(58, 58, 58);

  }
  .circle2{
    background-color: yellow;
    width: 100px;
    height: 100px;
    animation-name: carre2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  .circle3{
    background-color: rgb(17, 0, 255);
    width: 100px;
    height: 100px;
    animation-name: carre3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes carre {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
  @keyframes carre2 {
    from{
      transform: rotate(0deg);
      transform: scale(0);
    }
    to{
      transform: rotate(360deg);
      transform: scale(0.8);
    }
    to{
      opacity: 0;
    }
  }
  @keyframes carre3 {
    from{
      transform: rotate(0deg);
      transform: scale(0);
    }
    to{
      transform: rotate(360deg);
      transform: scale(0.8);
    }
    to{
      opacity: 0;
    }
  }
  @keyframes listing {
    from{
      height:0px;
    }
    to{
      height: 352px;
    }
  }

  .socials{
    background-color: rgb(24, 24, 24);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color:rgba( 255, 255, 255, 0.35 );
    box-shadow:0 8px 32px 0 rgba(54, 54, 54, 0.37);
    backdrop-filter:blur( 4px );
  }
  .socials img{
    background-color: aliceblue;
    width: 130px;
    border-radius: 80%;
    padding: 0;
    cursor: pointer;
  }
  @media screen and (max-width:800px) {
    .seccions .parts{
      width: 420px;
    }
    .seccions .pages{
      display: none;
     }
     .seccions .parts{
      justify-content: flex-end;
      margin-right: 15px;
     }
    .burger{
      display: inline;
       width: 30px;
       height: 30px;
     }
    
  }
  @media screen and (max-width:738px) {
    .nftsSecceion .nfts img{
      width: 300px;
      height: 310px;
      border-radius: 5px;
      box-shadow: 2px 3px 5px rgb(155, 155, 155);
    }
    .socials img{
      background-color: aliceblue;
      width: 110px;
      border-radius: 80%;
      padding: 0;
      cursor: pointer;
    }
  }

  @media screen and (max-width:645px) {
  
    .seccions .parts h3{
      font-size: 16px;
    
    }
    .nftsContainer{
      align-items: center;
      align-content: center;
      align-self: center;
    }
    .seccions h2{
      font-size: 20px;
    }
    .profiles .profile{
      margin-bottom: 40px;
    }
    .profiles .profile img{
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 2px solid rgb(180, 180, 180);
      
    }
    .profiles .profile .job{
      text-align: center;
      font-size: 14px;
    }
    .profiles .profile .name{
      text-align: center;
      font-size: 17px;
    }
    .introText{
      font-size: 34px;
    }
    .profiles .profile .media{
      display: flex;
      width: auto;
      justify-content: space-around;
      margin-top: 5px;
    }
    .profiles .profile .media img{
      width: 30px;
      height: 30px;
      background-color: aliceblue;
      border: 0px solid ;
      cursor: pointer;
    }
   
    .seccions .pages{
      display: none;
     }
     .seccions .parts{
      justify-content: flex-end;
      margin-right: 15px;
     }
    .burger{
      display: inline;
       width: 30px;
       height: 30px;
     }
     .list{
      display: flex;
     }
     .listContainer{
      display: flex ;
    }
    .pages{
      cursor: pointer;
      font-family: 'Cinzel', serif !important;
      text-decoration: none;
      color: rgb(59, 59, 59);
      text-shadow: 3px 3px 4px rgb(53, 53, 53);
      font-size: 22px;
      font-weight: bolder;
      margin-bottom: 10px;
  
    }
  }
 
  @media screen and (max-width:545px) {

    .profiles .profile img{
      width: 115px;
      height: 115px;
      border-radius: 50%;
      border: 2px solid rgb(180, 180, 180);
      
    }
    .profiles .profile .job{
      text-align: center;
      font-size: 12px;
    }
    .profiles .profile .name{
      text-align: center;
      font-size: 15px;
    }
    
    .socials img{
      background-color: aliceblue;
      width: 90px;
      border-radius: 80%;
      padding: 0;
      cursor: pointer;
    }
    .dblock{
      width: 420px;
      height: 420px;
      object-fit: contain;
    }
  }

  @media screen and (max-width:440px) {
    
    .profiles .profile img{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 2px solid rgb(180, 180, 180);
      
    }
    .profiles .profile .job{
      text-align: center;
      font-size: 11px;
    }
    .profiles .profile .name{
      text-align: center;
      font-size: 14px;
    }
    

  }
 

  